name: Train Logger

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python train_logger.py
        
      - name: Upload CSV artifact
        uses: actions/upload-artifact@v4
        with:
          name: train-log-csv
          path: train_log_*.csv
